@font-face {
  font-family: "unispace";
  src: url("unispace bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "unispace", sans-serif;
  font-size: 0.75em;
  overflow-x: hidden;
  background-color: transparent;
}

@keyframes highlight {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #f0003d;
  }
  100% {
    background-color: #ffffff;
  }
}

.buttons {
  margin-left: -190px;
  margin-top: 256px;
}

.button {
  position: absolute;
  width: 768px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.678);
}

.highlight {
  animation: highlight 1s infinite;
}

.button:hover {
  animation-name: highlight;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

  #button1 { /* Head*/
      margin-top: 20px;
      margin-left: 205px;
      clip-path: polygon(45% 14%, 45% 10%, 47% 7%, 50% 6%, 53% 7%, 55% 10%, 55% 13%, 53% 15%, 53% 18%, 50% 20%, 47% 18%, 47% 15%);
  }

  #button7 { /* Torso */
      margin-top: 20px;
      margin-left: 205px;
      clip-path: polygon(50% 38%, 57% 40%, 59% 53%, 55% 50%, 50% 50%, 45% 50%, 41% 53%, 43% 40%);

  }
  #button3 { /* R-Arm */
      margin-top: 20px;
      margin-left: 206px;
      clip-path: polygon(89% 24%, 87% 21%, 59% 21%, 61% 25%);

  }

  #button4 { /* R-Hand*/
      margin-top: 105px;
      margin-left: 782px;
      width: 180px;
      height: 180px;
      transform : rotate(-16deg);
      clip-path: polygon(77% 42%, 87% 42%, 90% 47%, 77% 57%, 60% 57%, 56% 44%, 68% 36%, 82% 36%);
  }

  #button5 { /*L-Arm */
      margin-top: 20px;
      margin-left: 204px;
      clip-path: polygon(11% 24%, 13% 21%, 41% 21%, 39% 25%);
  }

  #button6 {/* L-Hand*/
      margin-top: 105px;
      margin-left: 216px;
      width: 180px;
      height: 180px;
      transform : rotate(16deg);
      clip-path: polygon(23% 42%, 13% 42%, 10% 47%, 23% 57%, 40% 57%, 44% 44%, 32% 36%, 18% 36%);
  }

  #button2 { /* Chest */
      margin-top: 20px;
      margin-left: 205px;
      clip-path: polygon(50% 21%, 53% 19%, 59% 21%, 61% 26%, 57% 39%, 50% 37%, 43% 39%, 39% 26%, 41% 21%, 47% 19%);

  }

  #button8 { /* Legs */
      margin-top: 25px;
      margin-left: 202.7px;
      clip-path: polygon(56% 50%, 45% 50%, 41% 54%, 44% 89%, 47% 89%, 49% 50%, 51% 50%, 53% 89%, 56% 89%, 59% 54%);

  }

  #button9 { /* Feet */
      margin-top: 26px;
      margin-left: 204.5px;
      clip-path: polygon(44% 89%, 47% 89%, 52% 92%, 53% 89%, 56% 89%, 58% 92%, 52% 92%, 47% 89%, 48% 92%, 42% 92%);

  }

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 0%;
  min-height: 0%;
  width: 100%;
}

.content {
  position: relative;
  top: 0px;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
  z-index: 9999;
}

.team-members .team-member-image {
  width: 100px;
  height: 100px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #0f0f0f;
  position: relative;
  overflow: hidden;
}

.team-members .team-member-image:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    to right,
    rgba(240, 0, 61, 0),
    rgba(240, 0, 61, 0.5)
  );
  z-index: 1;
}

.team-members .team-member-image:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    to bottom,
    rgba(240, 0, 61, 0),
    rgba(240, 0, 61, 0.5)
  );
  z-index: 1;
}

.team-members {
  text-align: left;
  /* align images to the left */
}

.team-member {
  display: inline-block;
  margin: 20px;
  transition: transform 0.6s ease-in-out;
}

.team-member:hover {
  transform: scale(1.2);
}

.team-member a {
  color: #ffffff;
  /* set link color to dark */
  font-weight: bold;
  /* set font weight to normal */
  font-style: italic;
  /* set font style to italic */
  text-decoration: none;
  /* remove underline from link */
  transition: font-weight 0.3s ease-in-out;
  /* add transition effect to font weight */
}

.team-member a:hover {
  font-weight: bold;
  /* set font weight to bold on hover */
}

.team-member-name {
  display: list-item;
  list-style: none;
}

.result {
  background-color: rgb(0, 0, 0, 0);
  padding: 0px;
}

.fact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  margin-top: 20px;
}

.fact-list li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}

.fact-list li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f0003d;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 10%;
}

/* Footer styles */
footer {
  background-color: #242424;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.75rem;
}

.qa-list {
  margin: 0;
  padding: 0;
}

.qa-list dt {
  font-weight: bold;
  margin-top: 30px;
}

.qa-list dd {
  margin-left: 20px;
}

#result-container {
  display: none;
  white-space: break-spaces;
  padding: 2.7em;
  background-color: #131313;
  border: 1px solid #f0003d;
  border-radius: 0.5em;
  font-size: 1.2em;
  max-height: 110%;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
  /* Optional delay before the animation starts */
}


#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-sign {
  font-size: 48px;
  color: #f0003d;
}



.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
  background: #f0003d;
  -webkit-transition: 0.4s;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #f1f1f1;
  -webkit-transition: 0.4s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background: #f0003d;
  cursor: pointer;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Modify the header to have the page selection on the right and the logo on the left */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00000080;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav ul li a {
  transition: transform 0.2s ease-in-out;
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: white;
  transform: scale(1.3);
  color: #333;
}

/* Add a container for the page selector */
.page-selector {
  margin-left: 1500px;
}

.page-selector li {
  margin-left: 20px;
}

.page-selector li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 2px;
}

.page-selector li a:hover {
  background-color: white;
  color: #333;
}

.page-selector li.active a {
  background-color: white;
  color: #333;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  margin-top: 0;
}

li {
  margin-top: 10px;
}

.intro {
  text-align: center;
}
.main-app {
  margin-top: 10px;
  position: relative;
  background-color: #0f0f0f5b;
  border:#050505;
  border-radius: 1%;
  height:1000px
}
.video-container {
  width: 100%;
  margin-right: 0;
}
.camera-container {
  width: 770px;
  height: 512px;
  overflow: hidden;
  position: relative;
  border: 2px solid #f0003d;
  border-radius: 2%;
  box-sizing: border-box;
  margin-left: 550px;
  margin-bottom: 200px
}
.button-container {
  margin-left:-500px;
  margin-top: -760px;
}

.input-container {
  width: 100%;
}
.body-part-container {
  margin-top: -1050px;
  margin-left: -300px;

}
.footer-note {
  font-size: 50%;
  margin-top: 500px;
  margin-left: -850px;
  width: 300%;
  background-color: rgba(0, 0, 0, 0.205);
}
.text-area-container {
  position: relative;
  margin-top: 10px;
  margin-left: 550px;
}


textarea {
  width: 300%;
  height: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #404040;
  color: white;
  resize: none;
}
textarea:hover {
  background-color: #2c2c2c;
  transition: background-color 0.2s ease-in-out;
}

.slider-container {
  margin-bottom: 10px;
  margin-left: 550px;
  width: 770px;
  margin-top: -170px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.treatment-container {
  position:absolute;
  width: 1700px;
  margin-top: 500px;
  margin-left: -460px
}


#analyze-button {
  margin-top: 70px;
  width: 170px;
  height: 700px;
  background-color: #f0003d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

#analyze-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.4s ease;
  opacity: 0;
}

#analyze-button:hover {
  background-color: #f0003d;
  color: white;
  transform: scale(1.05);
}

#analyze-button:hover:before {
  opacity: 1;
}

#analyze-button:active {
  background-color: #050505;
  color: #f0003d;
  transform: scale(0.95);
}

#analyze-button:active:before {
  opacity: 0;
}

.about li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f0003d;
  margin-right: 10px;
}

.about li span {
  font-weight: bold;
  font-size: 16px;
}

.main-text {
  background-color: rgb(0, 0, 0, 0.5);
  width: 115%;
  border-radius: 5px;
}

.line-1 {
  font-size: 1.5em;

  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.line-2 {
  font-size: 1.5em;

  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.line-3 {
  position: relative;
  font-size: 1.5em;

  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.line-4 {
  position: relative;
  font-size: 1.3em;

  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.line-5 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  font-size: 1.3em;

  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

/* q&a, facts animations */
.main-help {
  background-color: rgb(0, 0, 0, 0.75);
  width: 80%;
  max-width: 100%;
  /* or any other maximum width you want */
  margin: 0 auto;
  /* center the element horizontally */
}

.fact {
  position: relative;
  top: 50%;
  font-size: 125%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}



.q-1 {
  font-size: 150%;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.q-2 {
  font-size: 150%;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.q-3 {
  font-size: 150%;
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.q-4 {
  font-size: 150%;
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  margin-left: -0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

/* Animations Typewriter */

.anim-typewriter1 {
  animation: typewriter 1s steps(130) 1s 1 normal both;
}

.anim-typewriter2 {
  animation: typewriter 2s steps(130) 1s 1 normal both;
}

.anim-typewriter3 {
  animation: typewriter 1s steps(130) 1s 1 normal both;
}

.anim-typewriter4 {
  animation: typewriter 3s steps(130) 1s 1 normal both;
}

.anim-typewriter5 {
  animation: typewriter 4s steps(130) 1s 1 normal both;
}

.anim-typewriter6 {
  animation: typewriter 1s steps(40) 1s 1 normal both;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.content.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 120em;
  }
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.1s both;
  animation: slide-fwd-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s
    both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 2s linear both;
  animation: flicker-in-1 2s linear both;
}
